*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: #F2F2F2;
    overflow: hidden;
}

.img1 {
    width: 950px;
    height: 507px;
}

.main_div2 {}

.div0 {
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1 {

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #FFFFFF;
    width: 518px;
    height: 562px;
    border: soli 5px black;
    border-radius: 40px;
}

.div2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.web {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: #2178DE;
    width: 105px;
    height: 54px;
    border-radius: 52px;
    font-size: 33px;
    font-family: "Roboto", sans-serif;





}

.resume {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2178DE;
    color: white;
    width: 151px;
    height: 54px;
    border-radius: 52px;
    font-size: 33px;


}

.mainscroll {
    margin-top: 24px;
    width: 470px;
}

.scroll1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    width: 171px;
    height: 48px;
    border-radius: 50px;



}

.footer {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.Sign_IN {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83px;
    height: 44px;
    border-radius: 32px;
    background: white;
    text-decoration: none !important;
    

    

}




.Sign_UP {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83px;
    height: 44px;
    border-radius: 32px;
    text-decoration: none !important;

}

.letter1 {
    margin-top: 32px;
    width: 470px;
    height: 38px;
}

.letter2 {
    font-size: 32px;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 32px;

}

.inpuns1 {
    display: flex;
    width: 470px;
    gap: 16px;

}


.email {
    width: 470px;
    height: 48px;
    border: solid 0px rgb(171, 171, 171);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-left: 15px;

}

.password {
    width: 470px;
    height: 48px;
    border: solid 0px rgb(171, 171, 171);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-left: 15px;



}

.Forgot{
    margin-top: -16px;
}




.confirm {
    width: 227px;
    height: 48px;
    border: solid 0px rgb(171, 171, 171);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-left: 15px;

}

.button1 {
    width: 470px;
    height: 48px;
    background-color: #2178DE;
    color: white;
    font-size: 14px;
    border: solid 0px rgb(171, 171, 171);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.SIGN {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 1px;
    width: 101px;
    height: 16px;
    font-size: 12px;
    color: #8F96A3;

}

.Google {
    width: 470px;
    height: 48px;
    background-color: white;
    color: black;
    font-size: 14px;
    border: solid 0px rgb(171, 171, 171);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.lastP {
    color: #8F96A3;

}

span {
    color: black;
}


/* SIGN IN */






.password1{
    width: 470px;
    height: 48px;
    border: solid 0px rgb(171, 171, 171);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-left: 15px;



}
    
.inpuns1_1{
    display: flex;
    width: 470px;
    gap: 16px;


}


.inputs_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
}

.line_div{
    width: 252px;
    height: 1px;
    background-color: #F2F2F2;
    
}
.line_main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}